body{
    background-color: black;
}

title{
    color: aqua;
}

li{
    font-size: 20px;
    color: crimson;
}

h1{
    color: aqua;
}

h2{
    color: red;
}

p{
    color: white;
}
div{
    color: white;
}

footer{
    color: white;
}

header{
    font-size: 20px;
    text-align: left;
    color: aqua;
}
